<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiles 2</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/tiles.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
<header>
    <nav>
        <button id="btnAdd" class="button15">Add</button>
    </nav>
    <span id="info"></span>
</header>

<div id='container'>
    <!--        <div class="tile">Tile 1 </div>-->
</div>

<div class="menu">
    <a href="#" id="mColor">Color: <input type="color" name="bg" value="#ff0000"></a>
    <!--            <input type="color" id="pickColor"/>-->

    <a href="#" id="mRemove">Remove</a>
    <a href="#" id="mAddST">Add something</a>
</div>

<div class="menuST">
    <span id="mCity">City (time, weather)</span>
    <br>
    <span id="mQuote">Quote</span>
    <br>
    <span id="mJoke">Joke</span>
</div>


<script src="client.js"></script>

</body>
</html>