.tile {
    /*position: relative;*/
    /*display: inline-flex;*/
    /*position: absolute;*/
    display: block;

    /*top: 0;*/
    /*left: 0;*/
    /*width: 400px;*/
    /*height: 400px;*/
    /*background: dodgerblue;*/
    background-color: dodgerblue;
    /*background: linear-gradient(to top, #ddeeff, dodgerblue);*/
    margin: 0;
    padding: 0;
    text-align: center;/*right;center;*/

    /*border: 1px solid blue;*/
    outline: 1px solid rgba(120,120,120,0.6); /* Пунктирная рамка dashed*/
    outline-offset: -1px; /* Выводим рамку внутри элемента */


}